

.timebox {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;

    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.timeline {
    box-sizing: border-box;
}


.timeimg {
    height: 300px;
    width: 300px;
    border-radius: 50% !important;
}